.don-fp-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.fp-container {
  align-items: center;
  background: #f0c8c8;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.fp-text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  transition: opacity 300ms;
  user-select: none;
}

.fp-ok {
  color: #4ade80;
  font-size: 26px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
}

.fp-container.active {
  animation: 6s fpContainer;
}

.fp-container.active .fp-text {
  opacity: 0;
  animation: 6s fpText forwards;
}

.fp-container.active .fp-ok {
  opacity: 1;
  animation: 6s fpOk forwards;
}

@keyframes fpContainer {
  0% { width: 200px }
  6% { width: 80px }
  75% { transform: scale(1.15); }
  77% { transform: scale(1); }
  94% { width: 80px }
  100% { width: 200px }
}

@keyframes fpText {
  0% { opacity: 1; transform: scale(1); }
  6% { opacity: 0; transform: scale(0.5); }
  94% { opacity: 0; }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes fpOk {
  0% { opacity: 0 }
  70% { opacity: 0; transform: scale(0); }
  75% { opacity: 1; transform: scale(1.1); }
  77% { transform: scale(1); }
  92% { opacity: 1 }
  100% { opacity: 0 }
}
