{% extends 'base.html.twig' %}

{% block body %}
<div class="flex min-h-screen bg-gray-50">

    {# Sidebar #}
    {% include 'components/sidebar.html.twig' %}

    <div class="flex flex-1 flex-col lg:ml-72">

        {# Top Navigation #}
        {% include 'components/top-nav.html.twig' %}

        <main class="flex-1 overflow-auto p-6">
            {% block content %}{% endblock %}
        </main>

    </div>
</div>
<link rel="stylesheet" href="/css/aide-flow-menu.css">
{% endblock %}
